/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*  size*/
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: #444649;
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 8px 16px;
  transition: all var(--animation-duration) ease-in;
  z-index: 1;
}

#navbar.navbar--float {
  padding: 16px;
}

.navbar__menu {
  display: flex;
  margin: 8px;
}

.navbar__menu.open {
  display: block;
}

#navbar.navbar--float {
  background-color: var(--color-black);
  padding: 8px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo a {
  margin-left: 5px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: mediumslateblue;
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 24px;
  font-size: 24px;
  color: white;
  display: none;
  transition: all var(--animation-duration) ease-in;
}

.navbar__toggle-btn.btn--move {
  right: 24px;
  top: 16px;
  transition: all var(--animation-duration) ease-in;
}

/* Home*/
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  height: 100vh;
}

.home__container {
  z-index: 1;
}

.home__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: 0;
  pointer-events: none;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: mediumslateblue;
}

/*Section common*/
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
  transition: all 800ms ease-in;
}

/* About */
#about .section__container {
  transform: translateY(20px);
  opacity: 0;
}

#about .section__container.animated {
  transform: translateY(0);
  opacity: 1;
}

.about__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
  margin: 20px;
}

/* Skill */

#skills {
  background-color: #f5f5f5;
}

.skillset {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.skillset__confident {
  flex-basis: 100%;
  padding: 20px 40px;
}

.skill {
  margin-bottom: 16px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 10px;
  background-color: darkgray;
}

.skill__value {
  width: 0;
  height: 10px;
  background-color: mediumslateblue;
  transition: ease-out 1000ms;
}

.skillset__used {
  display: flex;
  flex-direction: column;
}

.used__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.used__item {
  position: relative;
}

.item__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-light-white);
  font-size: 12px;
}

.used__item:hover .item__description {
  opacity: 1;
}

.item__description h3 {
  color: var(--color-white);
  font-size: 16px;
}

.item__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-white);
}

.used__logo {
  width: 100px;
  height: 100px;
  border: 2px solid var(--color-light-white);
  border-radius: 10px;
  background-color: var(--color-white);
  padding: 3px;
  margin: 10px;
}

/* skills animation */
#skills .section__container h1,
.skillset__confident,
.skillset__used {
  transform: translateX(-120%);
  opacity: 0;
}

#skills .section__container h1.animated,
.skillset__confident.animated,
.skillset__used.animated {
  transform: translateX(0);
  opacity: 1;
  transition: all 1300ms ease;
}

/* Work */

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 4px;
}
.category__count {
  background-color: #9586f1;
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anime-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: #9586f1;
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* work animation */
#work .section__container h1,
.work__categories,
.work__projects {
  opacity: 0;
  transform: translateX(120%);
}

#work .section__container h1.animated,
.work__categories.animated,
.work__projects.animated {
  opacity: 1;
  transform: translateX(0);
  transition: all 1300ms ease;
}

/* Contact */
#contact {
  background-color: var(--color-black);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: mediumslateblue;
}

/* Arrow up */
.arrow-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  border-radius: 10px;
  background-color: mediumslateblue;
  text-align: center;
  color: var(--color-white);
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
  }

  .navbar__toggle-btn.btn--move {
    top: 8px;
    right: 8px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-black);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
  }

  .project {
    flex-grow: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
